In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df.info

NameError: name 'df' is not defined

###### df = pd.read_csv('unable_to_afford.csv')

In [15]:

df.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,OBS_CONF,OBS_CONF_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
0,A,Annual,AGO,Angola,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,18.4,19.8,20.8,22.8,24.1,25.1,26.0,27.1
1,A,Annual,ALB,Albania,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.7,0.5,0.4,0.4,0.4,0.3,0.3,0.3
2,A,Annual,ARE,United Arab Emirates,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.3,0.2,0.2,0.3,0.3,0.2,0.2,0.2
3,A,Annual,ARG,Argentina,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,Annual,ARM,Armenia,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,1.4,1.4,1.5,1.6,1.6,1.6,1.5,1.9

In [16]:
df.duplicated().count()

146

In [19]:
df.isnull().sum()

FREQ                  0
FREQ_LABEL            0
REF_AREA              0
REF_AREA_LABEL        0
INDICATOR             0
INDICATOR_LABEL       0
UNIT_MEASURE          0
UNIT_MEASURE_LABEL    0
DATABASE_ID           0
DATABASE_ID_LABEL     0
UNIT_MULT             0
UNIT_MULT_LABEL       0
OBS_STATUS            0
OBS_STATUS_LABEL      0
OBS_CONF              0
OBS_CONF_LABEL        0
2017                  1
2018                  4
2019                  6
2020                  7
2021                  7
2022                  7
2023                  5
2024                  9
dtype: int64

In [20]:
df.describe()

,UNIT_MULT,2017,2018,2019,2020,2021,2022,2023,2024
count,146.0,145.000000,142.000000,140.000000,139.000000,139.000000,139.000000,141.000000,137.000000
mean,6.0,19.586207,19.090845,18.954286,20.086331,18.914388,18.495683,18.006383,18.151095
std,0.0,77.418206,72.505623,70.018589,75.247140,68.275769,64.039632,59.385398,57.459190
min,6.0,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
25%,6.0,0.700000,0.625000,0.700000,0.750000,0.600000,0.600000,0.600000,0.600000
50%,6.0,3.100000,2.600000,2.600000,2.700000,2.700000,2.500000,2.300000,2.200000
75%,6.0,10.300000,10.275000,10.475000,11.450000,11.400000,11.750000,12.500000,12.800000
max,6.0,804.900000,750.300000,723.100000,780.200000,729.400000,672.500000,617.200000,586.500000

In [24]:
df.sample(10)

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,DATABASE_ID,DATABASE_ID_LABEL,...,OBS_CONF,OBS_CONF_LABEL,2017,2018,2019,2020,2021,2022,2023,2024
16,A,Annual,BLZ,Belize,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.2,0.2,0.2,0.3,0.3,0.3,0.3,0.3
3,A,Annual,ARG,Argentina,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,A,Annual,ROU,Romania,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,10.3,13.4,12.3,12.7,11.4,10.5,10.3,10.0
64,A,Annual,IRL,Ireland,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.1,0.1,0.1,0.1,0.1,NaN,0.1,0.1
124,A,Annual,SVN,Slovenia,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.1,0.1,NaN,NaN,NaN,NaN,NaN,NaN
104,A,Annual,NZL,New Zealand,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,0.7,0.8,0.8,0.9,0.8,0.8,0.9,0.9
20,A,Annual,BWA,Botswana,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,1.4,1.4,1.4,1.4,1.5,1.5,1.5,1.5
110,A,Annual,PRT,Portugal,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,1.9,1.7,1.3,1.4,1.4,1.2,1.2,1.1
51,A,Annual,GHA,Ghana,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,19.8,19.8,19.9,20.5,20.7,21.2,22.4,22.9
115,A,Annual,RWA,Rwanda,FAO_CAHD_7006,Number of people unable to afford a healthy di...,PS,Persons,FAO_CAHD,Cost and Affordability of a Healthy Diet (CoAHD),...,PU,Public,9.7,9.5,9.5,10.1,9.9,10.3,10.9,10.7

In [28]:
df2 = pd.read_csv('severe food insecurity.csv')

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407 entries, 0 to 1406
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FREQ                1407 non-null   object
 1   FREQ_LABEL          1407 non-null   object
 2   REF_AREA            1407 non-null   object
 3   REF_AREA_LABEL      1407 non-null   object
 4   INDICATOR           1407 non-null   object
 5   INDICATOR_LABEL     1407 non-null   object
 6   SEX                 1407 non-null   object
 7   SEX_LABEL           1407 non-null   object
 8   UNIT_MEASURE        1407 non-null   object
 9   UNIT_MEASURE_LABEL  1407 non-null   object
 10  DATABASE_ID         1407 non-null   object
 11  DATABASE_ID_LABEL   1407 non-null   object
 12  UNIT_MULT           1407 non-null   int64
 13  UNIT_MULT_LABEL     1407 non-null   object
 14  OBS_STATUS          1407 non-null   object
 15  OBS_STATUS_LABEL    1407 non-null   object
 16  OBS_CONF            1407 non-null   object
 17  OBS_CONF_LABEL      1407 non-null   object
 18  2016                891 non-null    float64
 19  2017                900 non-null    float64
 20  2018                1032 non-null   float64
 21  2019                1092 non-null   float64
 22  2020                1218 non-null   float64
 23  2021                1290 non-null   float64
 24  2022                1313 non-null   float64
 25  2023                1302 non-null   float64
 26  2024                1203 non-null   float64
dtypes: float64(9), int64(1), object(17)
memory usage: 296.9+ KB

In [30]:
df2.head()

,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,SEX_LABEL,UNIT_MEASURE,UNIT_MEASURE_LABEL,...,OBS_CONF_LABEL,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,A,Annual,AFG,Afghanistan,FAO_FS_210091,Prevalence of moderate or severe food insecuri...,F,Female,LB_90_CI,Lower Bound for the 90% confidence interval,...,Public,41.5,46.7,52.6,59.1,66.8,75.5,82.3,81.4,79.3
1,A,Annual,AFG,Afghanistan,FAO_FS_210091,Prevalence of moderate or severe food insecuri...,F,Female,PT,Percentage,...,Public,47.7,52.8,57.8,62.8,69.9,78.2,85.5,85.5,84.5
2,A,Annual,AFG,Afghanistan,FAO_FS_210091,Prevalence of moderate or severe food insecuri...,F,Female,UB_90_CI,Upper Bound for the 90% confidence interval,...,Public,53.8,59.0,63.0,66.4,73.0,81.0,88.7,89.5,89.7
3,A,Annual,AFG,Afghanistan,FAO_FS_210091,Prevalence of moderate or severe food insecuri...,M,Male,LB_90_CI,Lower Bound for the 90% confidence interval,...,Public,37.1,41.1,45.9,48.9,53.6,58.9,69.1,70.7,69.9
4,A,Annual,AFG,Afghanistan,FAO_FS_210091,Prevalence of moderate or severe food insecuri...,M,Male,PT,Percentage,...,Public,42.6,46.5,50.8,52.4,56.5,62.0,72.8,76.4,77.0

In [31]:
df2.isnull().sum()

FREQ                    0
FREQ_LABEL              0
REF_AREA                0
REF_AREA_LABEL          0
INDICATOR               0
INDICATOR_LABEL         0
SEX                     0
SEX_LABEL               0
UNIT_MEASURE            0
UNIT_MEASURE_LABEL      0
DATABASE_ID             0
DATABASE_ID_LABEL       0
UNIT_MULT               0
UNIT_MULT_LABEL         0
OBS_STATUS              0
OBS_STATUS_LABEL        0
OBS_CONF                0
OBS_CONF_LABEL          0
2016                  516
2017                  507
2018                  375
2019                  315
2020                  189
2021                  117
2022                   94
2023                  105
2024                  204
dtype: int64